In [37]:
import pandas as pd

In [38]:
df1 = pd.read_csv(r'..\data\raw\uszips.csv')
df2 = pd.read_csv(r'..\data\raw\realtor-data-clean.csv')
df2.drop(columns=['Unnamed: 0'],inplace=True)

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33783 entries, 0 to 33782
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zip               33783 non-null  int64
 1   lat               33783 non-null  float64
 2   lng               33783 non-null  float64
 3   city              33783 non-null  object
 4   state_id          33783 non-null  object
 5   state_name        33783 non-null  object
 6   zcta              33783 non-null  bool
 7   parent_zcta       0 non-null      float64
 8   population        33764 non-null  float64
 9   density           33764 non-null  float64
 10  county_fips       33783 non-null  int64
 11  county_name       33783 non-null  object
 12  county_weights    33783 non-null  object
 13  county_names_all  33783 non-null  object
 14  county_fips_all   33783 non-null  object
 15  imprecise         33783 non-null  bool
 16  military          33783 non-null  bool
 17  timezone          33783 non-null  object
dtypes: bool(3), float64(5), int64(2), object(8)
memory usage: 4.0+ MB

In [40]:
df1.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone'],
      dtype='object')

In [41]:
df1 = df1.rename({'zip':'zip_code'},axis=1)

In [42]:
df2['zip_code'] = df2['zip_code'].astype('int')

In [43]:
# Supongamos que `geo_df` tiene zipcode, lat, lon
merged = df2.merge(df1[["lat", "lng",'zip_code']], on="zip_code", how="left")

In [44]:
merged.isna().sum()

brokered_by         0
status              0
price               0
bed                 0
bath                0
acre_lot            0
street              0
city                0
state               0
zip_code            0
house_size          0
size_bin            0
property_type       0
bed_group           0
bath_group          0
price_category      0
is_luxury_home      0
lat               352
lng               352
dtype: int64

In [45]:
merged.dropna(inplace=True)

In [46]:
merged.isna().sum()

brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
size_bin          0
property_type     0
bed_group         0
bath_group        0
price_category    0
is_luxury_home    0
lat               0
lng               0
dtype: int64